<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      
      <div class="inner cover">
        <h1 class="cover-heading">Set objective goals.</h1>
        <p class="lead">Then stick to them.</p>
        <!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
        <p class="lead">
          <%= link_to 'Learn how', welcome_features_path, :class => 'btn btn-lg btn-default' %>
        </p>
      </div>
      
      <div class="mastfoot">
        <div class="inner">
          <p>Brought to you by SideProject.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>